body {
     background-color: rgb(6, 6, 44);
     
}

/*Start button styling*/
.start-button {
     padding: 25px 50px;
     font-size: 50px;
     background-color: rgb(43, 153, 226);
     color: white;
     border-radius: 25px;
     font-weight: 500;
     text-align: center;
     cursor: pointer;
     margin: 10% 50% 10% 40%;
          
}

/* Button color change when hovered */
.start-button:hover {
     background-color: greenyellow;
}

/* Adding stlying to instructions */
.instructions {
     display: none;
     position: absolute;
     top: 800px;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 540px;
     background: whitesmoke;
     border-radius: 5px;

}

/* Setting different font sizes to instruction title and content */
.instruction-title {
     text-align: center;
     color: blue;
     font-size: 50px;
}

.instruction-list {
     text-align: center;
     color: blue;
     font-size: 25px;
}

/* Placing emphasis on time alloted for each question */
.instructions .instruction-list .info span {
     font-weight: 600;
     color: red;
}

/* Positioning both quit and restart buttons */
.instructions .buttons {
     height: 60px;
     display: flex;
     align-items: center;
     justify-content: flex-end;
     padding: 0 35px;
}

/* Separating quit and restart buttons, and styling */
.instructions .buttons button {
     margin: 0 5px;
     height: 40px;
     width: 100px;
     border: 2px ridge blue;
     background: rgb(43, 153, 226);
     color: azure;
     font-size: 16px;
     border-radius: 10px;
}

.instructions .buttons button.quit:hover {
     background-color: red;
     cursor: pointer;
}

.instructions .buttons button.restart:hover {
     background-color: green;
     cursor: pointer;
}

/* Styling Quiz Box */
.quiz-box {
     display: none;
     width: 550px;
     background: white;
     border-radius: 10px;
     position: absolute;
     top: 800px;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 540px;
     background: whitesmoke;
     border-radius: 5px;
}

/* Styling Header of Quiz Box */
.quiz-box header {
     position: relative;
     z-index: 99;
     height: 70px;
     padding: 0 30px;
     background: white;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-radius: 5px 5px 0 0;
     box-shadow: 0px 3px 5px 1px black;
}

.quiz-box header .title {
     font-size: 20px;
     font-weight: 600;
}

/* Timer Styling */
.quiz-box header .timer {
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 145px;
     height: 45px;
     background: blue;
     color: white;
     font-weight: 500;
     font-size: 18px;
     border: 5px solid black;
     border-radius: 10px;
     padding: 0 8px;
     user-select: none;
}

.quiz-box header .timer .timer-sec {
     background: white;
     color: blue;
     height: 30px;
     width: 45px;
     text-align: center;
     line-height: 30px;
     border-radius: 10px;
     border: 1px solid black;
}

.quiz-box section {
     padding: 25px 30px 20px 30px;
     background: white;
}

.quiz-box section .que-text {
     font-size: 25px;
     font-weight: 600;
}

.quiz-box section .option-list {
     padding: 20px 0;
     display: block;
}

section .option-list .option {
     background: lightseagreen;
     font-size: 30px;
     border: 1px solid blue;
     border-radius: 10px;
     padding: 8px 15px;
     margin-bottom: 15px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     cursor: pointer;
     transition: all 0.3s ease;
}

section .option-list .option:hover {
     color: white;
     background: blue;
     border-color: black;
}

section .option-list .option:last-child {
     margin-bottom: 0px;
}

.option-list .option .icon.excited {
     border: 5px solid greenyellow;
}

.option-list .option .icon.sad {
     border: 5px solid red;
}

.quiz-box footer {
     height: 60px;
     width: 100%;
     padding: 0 30px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

/* .quiz-box footer .total-que span {
     display: flex;
     user-select: none;
     font-size: 20px;
} */

footer .total-que span p {
     font-weight: 500;
     padding: 0 5px;
}

.total-que span p:first-child {
     padding-left: 0px;
}

footer .next-btn {
     height: 40px;
     padding: 0 12px;
     font-size: 18px;
     font-weight: 400;
     border: none;
     outline: none;
     background: rgb(43, 153, 226);
     color: white;
     border-radius: 10px;
     cursor: pointer;
     position: absolute;
     left: 400px;
}

/* Styling Result Box */
.result-box {
     background: black;
     color: lightseagreen;
     position: absolute;
     left: 50%;
     width: 650px;
     padding: 25px 30px;
     border-radius: 10px;
     display: flex;
     text-align: center;
     align-items: center;
     flex-direction: column;
     justify-content: space-between;
     
}

.icon {
     align-items: center;
     display: block;
     margin-bottom: 10px;
}
img {
     width: 100%;
     height: auto;
     justify-content: center;
    }

.result-box .result-text {
     font-size: 20px;
     font-weight: 500;
}

.result-box .score-text {
     display: flex;
     margin: 10px 0;
     font-size: 18px;
     font-weight: 500;
}

/* .question-box {
     text-align: center;
     color: aliceblue;
     font-size: 20px;
}

.answer-choices {
     width: 300px;
     border: 15px seashell;
     padding: 50px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     box-shadow: 10px 10px salmon;
     border-radius: 25px;
     text-align: center;
     font-size: 25px;
     background-color: rgb(43, 153, 226);
     color: blue;
} */

/* h3 {
     width: 300px;
     border: 15px seashell;
     padding: 50px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     box-shadow: 10px 10px salmon;
     border-radius: 25px;
     text-align: center;
     font-size: 25px;
     background-color: rgb(43, 153, 226);
     color: blue;   */


/* h4 {
     padding: 25px 25px 25px 25px;
     font-size: 25px;
     line-height: 80px;
     text-align: center;
     background-color: rgb(43, 153, 226);
     color: black;  
} */


/* h1 {
     padding: 50px 50px 50px 50px;
     font-size: 90px;
     line-height: 90px;
     text-align: center;
     background-color: black;
     color: rgb(43, 153, 226);
}

h2 {
     padding: 25px 25px 25px 25px;
     font-size: 50px;
     line-height: 80px;
     text-align: center;
     background-color: rgb(43, 153, 226);
     color: black;
} */