body {
     background-color: rgb(6, 6, 44);
     
}

/*Start button styling*/
.start-button {
     padding: 25px 50px;
     font-size: 50px;
     background-color: rgb(43, 153, 226);
     color: white;
     border-radius: 25px;
     font-weight: 500;
     text-align: center;
     cursor: pointer;
     margin: 10% 50% 10% 40%;
          
}

/* Button color change when hovered */
.start-button:hover {
     background-color: greenyellow;
}

/* Adding stlying to instructions */
.instructions {
     display: none;
     position: absolute;
     top: 800px;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 540px;
     background: whitesmoke;
     border-radius: 5px;

}

/* Setting different font sizes to instruction title and content */
.instruction-title {
     text-align: center;
     color: blue;
     font-size: 50px;
}

.instruction-list {
     text-align: center;
     color: blue;
     font-size: 25px;
}

/* Placing emphasis on time alloted for each question */
.instructions .instruction-list .info span {
     font-weight: 600;
     color: red;
}

/* Positioning both quit and restart buttons */
.instructions .buttons {
     height: 60px;
     display: flex;
     align-items: center;
     justify-content: flex-end;
     padding: 0 35px;
}

/* Separating quit and restart buttons, and styling */
.instructions .buttons button {
     margin: 0 5px;
     height: 40px;
     width: 100px;
     border: 2px ridge blue;
     background: rgb(43, 153, 226);
     color: azure;
     font-size: 16px;
     border-radius: 10px;
}

.instructions .buttons button.quit:hover {
     background-color: red;
     cursor: pointer;
}

.instructions .buttons button.restart:hover {
     background-color: green;
     cursor: pointer;
}

h1 {
     padding: 50px 50px 50px 50px;
     font-size: 90px;
     line-height: 90px;
     text-align: center;
     background-color: black;
     color: rgb(43, 153, 226);
}

h2 {
     padding: 25px 25px 25px 25px;
     font-size: 50px;
     line-height: 80px;
     text-align: center;
     background-color: rgb(43, 153, 226);
     color: black;
}

.question-box {
     text-align: center;
     color: aliceblue;
     font-size: 20px;
}

.answer-choices {
     width: 300px;
     border: 15px seashell;
     padding: 50px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     box-shadow: 10px 10px salmon;
     border-radius: 25px;
     text-align: center;
     font-size: 25px;
     background-color: rgb(43, 153, 226);
     color: blue;
}

/* h3 {
     width: 300px;
     border: 15px seashell;
     padding: 50px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     box-shadow: 10px 10px salmon;
     border-radius: 25px;
     text-align: center;
     font-size: 25px;
     background-color: rgb(43, 153, 226);
     color: blue;   */


h4 {
     padding: 25px 25px 25px 25px;
     font-size: 25px;
     line-height: 80px;
     text-align: center;
     background-color: rgb(43, 153, 226);
     color: black;  
}